---
layout: default
title: GeoJSON & WKT Converter
permalink: geojson-to-wkt.html
---

<!--
     Features:
     * Copy to clipboard button for outputs
     * Save inputs in cookie and restore on page load
     * Style input/output side by side
     * Allow GeoJSON input with or without Feature
     * Handle leading/trailing whitespace
     * Syntax highlighting

     * Error handling and display:
       * JSON parse Error
       * Invalid WKT
       * Invalid GeoJSON

     * Styling:
     * Make it wider
     * Remove Header
   -->

<script>
  {% include wellknown.js %}
</script>

<script>
  {% include jquery.min.js %}
</script>

<script>
 {% include geojson_to_wkt.js %}
</script>

<style>
 {% include geojson_to_wkt.css %}
</style>

<div class="row">
  <h3>Convert GeoJSON to WKT</h3>
  <div class="col">
    <form id="geojson-form">
      <textarea id="geojson-input" rows="15" cols="50" placeholder="Enter GeoJSON here."></textarea>
      <button type="submit">
        Convert
      </button>
    </form>
  </div>

  <div class="col">
    <pre id="wkt-output">wkt output here</pre>
  </div>
</div>

<div class="row">
  <h3>Convert WKT to GeoJSON</h3>

  <div class="col">
    <form id="wkt-form">
      <textarea id="wkt-input" rows="15" cols="50" placeholder="Enter WKT here."></textarea>
      <button type="submit">Convert</button>
    </form>
  </div>

  <div class="col">
    <pre id="geojson-output">geojson output here</pre>
  </div>
</div>

