---
layout: minimal
title: GeoJSON & WKT Converter
permalink: geojson-to-wkt.html
---

<!--
     Features:
     * [x] Copy to clipboard button for outputs
     * [x] Style input/output side by side
     * [x] Allow GeoJSON input with or without Feature
     * [x] Handle leading/trailing whitespace
     * [x] Handle featurecollections
     * [ ] Syntax highlighting
     * [ ] Save inputs in cookie and restore on page load
     * [ ] Add https://github.com/mapbox/geojsonhint for linting GeoJSON
     * [ ] Some kind of link-to-map feature -- store in cookie? send to separate page?

     * Error handling and display:
       * [x] JSON parse Error
       * [ ] Invalid WKT
       * [x] Invalid GeoJSON

     * Styling:
     * [ ] Make it wider
     * [ ] Remove Header
     * [ ] Constrain pre tag height
   -->

<script>
  {% include wellknown.js %}
</script>

<script>
  {% include jquery.min.js %}
</script>

<script>
 {% include geojson_to_wkt.js %}
</script>

<style>
 {% include geojson_to_wkt.css %}
</style>

<div class="row">
  <h3>Convert GeoJSON to WKT</h3>
  <div class="col">
    <form id="geojson-form">
      <p class="errors"></p>
      <textarea id="geojson-input" rows="15" cols="50" placeholder="Enter GeoJSON here."></textarea>
      <p>
        <button type="submit">
          Convert
        </button>
      </p>
    </form>
  </div>

  <div class="col">
    <pre id="wkt-output">wkt output here</pre>
  </div>
  <button id="copy-wkt">Copy</button>
</div>

<div class="row">
  <h3>Convert WKT to GeoJSON</h3>

  <div class="col">
    <form id="wkt-form">
      <p class="errors"></p>
      <textarea id="wkt-input" rows="15" cols="50" placeholder="Enter WKT here."></textarea>
      <button type="submit">Convert</button>
    </form>
  </div>

  <div class="col">
    <pre id="geojson-output">geojson output here</pre>
  </div>
  <button id="copy-geojson">Copy</button>
</div>

