---
layout: default
title: Home
---

<h3>Posts</h3>
<div class="posts">
  <ul>
  {% for post in paginator.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} </a>
    </li>
  {% endfor %}
  </ul>
</div>

<h3>Projects</h3>
<div class="posts">
  <ul>
    <li>
      <a href="https://github.com/worace/clarke-coin">ClarkeCoin</a>
    </li>
    <li>
      <a href="https://github.com/turingschool/data_structures_and_algorithms">Turing DSA Curriculum</a>
    </li>
    <li>
      <a href="https://github.com/worace/dotfiles">dotfiles</a>
    </li>
    <li>
      <a href="/archi">Archi-Follies</a>
    </li>
  </ul>
</div>

<h3><a href="/headcanon">sik reads</a></h3>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% endif %}
</div>
