<h3>Posts</h3>
<div class="posts">
  <ul>
  {% for post in paginator.pages %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.display_title %}
        <span>{{ post.display_title }}</span>
        {% else %}
        <span>{{ post.title }}</span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{site.baseurl}}{{ paginator.next_page_path}}">Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{site.baseurl}}{{ paginator.previous_page_path}}">Newer</a>
  {% endif %}
</div>
