#content {
  padding: 20px;
  max-width: 600px;
}
.outline-2 {
  display: none;
}

.outline-2.current {
  display: inline-block;
}

.pre.src {
  font-size: 14px;
}

img {
  max-width: 30vw;
  max-height: 60vh;
}

