h1, h2, h3, h4, h5, h6, ul, p, div, img {
  margin: 5px;
}

#content {
  padding: 20px;
  max-width: 800px;
  font-family: 'Lora', Georga, serif;
}
.outline-2 {
  display: none;
}

.outline-2.current {
  display: inline-block;
}

.pre.src {
  font-size: 14px;
}

img {
  max-width: 30vw;
  max-height: 60vh;
}

.outline-4 {
  float: left;
  width: 380px;
}
