.container {
  max-width: 100%;
}
.col {
  float: left;
  display: inline-block;
  width: 40%;
}

.row {
  display: inline-block;
  width: 100%;
}

pre {
  white-space: pre-wrap;
}

.errors {
  display: none;
  margin: 0;
  color: #ac4142;
  max-width: 400px;
}
