<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      {% unless page.hide_masthead %}
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <ul class="nav-links">
          <li><a href="/about">about</a></li>
        </ul>
      </header>
      {% endunless %}

      <main>
        {{ content }}
      </main>

    </div>

  </body>
</html>
