<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer>
        <ul class="nav-links">
          <li><a href="{{ site.baseurl }}/" title="Home">Home</a></li>
          <!-- <li><a href="/about">about</a></li>
               <li><a href="https://github.com/worace">github</a></li>
               <li><a href="http://twitter.com/worace">twitter</a></li> -->
        </ul>
      </footer>
    </div>
  </body>
</html>
